{{#make_chapter}}{{{className}}} class{{/make_chapter}}

.. {{#write_declarator}}class{{/write_declarator}}:: {{{fullClassName}}}
	
	{{#classBrief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/classBrief}}

{{#hasMethods}}
Public methods
==============

{{#needNamespace}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{fullClassName}}}
{{/needNamespace}}

{{#methods}}
.. {{#write_declarator}}method{{/write_declarator}}:: {{{prototype}}}
	
	{{#brief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/brief}}

{{/methods}}

{{/hasMethods}}
{{#hasClassMethods}}
Class methods
=============

{{#needNamespace}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{fullClassName}}}
{{/needNamespace}}

{{#classMethods}}
.. {{#write_declarator}}method{{/write_declarator}}:: static {{{prototype}}}
	
	{{#brief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/brief}}

{{/classMethods}}
{{/hasClassMethods}}
