{{#make_chapter}}{{{className}}} class{{/make_chapter}}

.. {{{prefix}}}:class:: {{{fullClassName}}}
	
	{{#classBrief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/classBrief}}

{{#hasMethods}}
Public methods
==============

.. {{{prefix}}}:namespace:: {{{fullClassName}}}

{{#methods}}
.. {{{prefix}}}:function:: {{{prototype}}}
	
	{{#brief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/brief}}

{{/methods}}

{{/hasMethods}}
{{#hasClassMethods}}
Class methods
=============

{{#classMethods}}
.. {{{prefix}}}:function:: static {{{prototype}}}
	
	{{#brief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/brief}}

{{/classMethods}}
{{/hasClassMethods}}
