{{#make_chapter}}{{{className}}} class{{/make_chapter}}

.. {{{prefix}}}:class:: {{{className}}}
	
	{{#classBrief}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/classBrief}}

Public methods
==============
