********************
List of enumerations
********************

{{#enums}}
{{{sectionName}}}

.. {{{prefix}}}:enum:: {{{fullName}}}
	
	{{#briefDesc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDesc}}
	
	{{#enumerators}}
	.. {{{prefix}}}:enumerator:: {{{name}}}{{#value}} = {{{value}}}{{/value}}
		
		{{#briefDesc}}
		{{#lines}}
		{{{line}}}
		{{/lines}}
		{{/briefDesc}}
	
	{{/enumerators}}
{{/enums}}
