{{#make_section}}{{{language}}} API{{/make_section}}

.. toctree::
   :maxdepth: 1
   :caption: Index of classes:
   
   {{#tocEntries}}
   {{{entryName}}}
   {{/tocEntries}}

.. toctree::
	:maxdepth 2
	:caption: Index of enums:
	
	enums.rst
